html,body{
    padding:0px;
    margin:0px;
    overflow-x:hidden;
    width:100%;
    height:100%;
}
footer{
    margin:0px;
}
body{
    background:rgba(109, 144, 152, 0.833);
}
header{
    margin:0px;
    padding:20,30px;
background:rgba(169, 235, 255, 0.484);
}
header .logo a,nav ul li a{

    color:rgb(255, 255, 255);
    text-shadow:1px 2px 3px rgb(2, 13, 23);

}
nav ul li a:hover{
    background:rgb(255, 255, 255);
    color:rgb(4, 11, 17);
}
h1{
    color:rgb(4, 0, 2);
}
#about{
    margin-left:20px;
    position:relative;
    margin-top:30px;
    color:rgb(46, 2, 20);
}
h1{
    text-shadow:1px 1px 2px rgb(6, 35, 40);
    text-decoration: solid underline rgb(30, 7, 30) 4px;
}
p{
    color:rgb(0, 0, 0);
    font-size:larger;
    font-weight:400;
    text-align:justify;
}
@media (max-width:2000px){
.txt{
    margin-top:100px;
    display:flex;
    justify-content:space-between;
    justify-items:center;
    margin-right:50px;
    margin-left:50px;
}
footer{
    margin-top:40px;
    padding:0px;
    position:static;
}

}
.section1{

    margin:23px 30px;
    background:rgba(26, 3, 3,0.3);
    box-sizing:border-box;
    padding:1px 10px;
    border-radius:8px;
    box-shadow:1px 1px 2px black;
}
.nav_bar{
    color:rgb(18, 2, 11);
}
.nav_box ul{
    background:rgba(7, 43, 62, 0.87);
}
.box .nav_box ul li a{
    color:rgb(255, 249, 252);
}
.box .nav_box ul li a:hover{
    background:rgb(182, 172, 202);
    color:rgb(4, 11, 17);
}


@media (max-width:920px){
    .txt{
        display:block;
        
    }
    .section1{
        padding:12px 20px;

    }
}
@media (max-width:480px){
    body{
        background:rgba(140, 182, 183, 0.916);
    }
    .txt {
        background:none;
        width:100%;
        margin:2em 0em;
        
    }
    .section1{
        background:rgba(61, 68, 87, 0.354);
        margin:2em 1em;
    }
    .txt p{
        color:rgb(0, 0, 0);
        
    }
}